.planetary {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    width: 315px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &__form {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    
        input {
            width: 100%;
            padding-left: 5px;
            margin-right: 10px;
            border-radius: 5px;
        }
    
        div {
            width: 100%;
            display: flex;
        }

        div:first-child {
            justify-content: space-between;
            margin-bottom: 10px;
        }
    
        div:nth-child(2) {
            button {
                width: 100%;
            }
        }
    
        button {
            height: 23px;
            background-color: #f9da2e;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            padding: 3px 6px;
            font-weight: 700;
            color: #2c3e50;
        }
    }

    img {
        width: 315px;
    }

    &__description {
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;

        &__copyright {
            font-style: italic;
            font-size: 14px;
        }
    }
}






